p {
text-align: justify;
}
#lightbulb {
  font-size: 100px;
  display: block;
  text-align: center;
}
.app-name {
  min-height: 200px;
}
.app-name img {
  width:200px;
}
.app-name h1{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.thumbnail {
  height: 380px;
  max-width: 400px;
}
.thumbnail>a> img{
  width: 100%;
  height:  270px;
}

#topmenu {
  background-color:#e7d6b4;
  color:#764c29!important;
}
.brownText {
  color:#764c29!important;
}
.sidebar-item {
  background-color:#e7d6b4;
  color:#764c29!important;
}
.active {
  background-color: #ffffff!important;
}

/*Efectos Hover*/
CSS

/*GROW*/
.grow img {

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.grow img:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}


h1 {
  padding: 0;
  margin: 10px 0;
}
.logo{
  padding:15px;
  margin:30px;
}
.lead{
  font-size:20px;
}
.punch {
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
  text-shadow: 2px 2px 5px black;
  color:#fff;
  margin:60px;
  font-size:32px
}
.facebook{
  background-color:#0101DF!important;
  color:#fff!important;
}
.twitter{
  background-color:#2ECCFA!important;
  color:#fff!important;
}
.google{
  background-color:#FF0000!important;
  color:#fff!important;
}
.section,.scrollable{
  background-color: #f4ecdb;
}
.section {
  /*background-color: #eee;*/
}
.necesidad a{
  color:#444;
  display: block;
  text-decoration: none;
}
.no-image{
  width:75px;
  height: 75px;
  background-image: url(/images/no_photo.gif)
}
.help-block {
  text-align: left;
}
.no-image-big{
  width:100%;
  height: 300px;
  background-image: url(/images/no-image.jpg);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.necesidad-util{
  background-color: #31B404 !important;
  padding:10px;
}
.panel-heading{
  min-height: 40px;
}

.chat-user-avatar {
  font-size: 40px;
  background: #ccc;
  padding: 5px 10px;
}

.feature-icon {
  font-size: 44px;
  padding: 0;
  line-height: 68px;
  width: 72px;
  text-align: center;
  opacity: .8;
  border: 3px solid;
  border-radius: 200px;
  height: 72px;
  margin-bottom: 20px;
}

.feature-icon.fa-gamepad {
  line-height: 60px;
}

.feature-icon.fa-tachometer {
  line-height: 60px;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.carousel-example-content {
  position: absolute;
  font-size: 50px;
  line-height: 50px;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -50px;
}


.carousel-item {
  display: block;
  color: #444;
  background: #f4f4f4;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.carousel {
  padding: 20px;
  overflow: visible;
}

.carousel-inner {
  position: relative;
  overflow: visible;
}

.carousel>.item, .carousel-item {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.carousel-item {
  -webkit-transition: -webkit-transform 500ms;
  -moz-transition: -moz-transform 500ms;
  transition: transform 500ms;
}

[drag-to-dismiss]{
  transform: translate(0,0); /* NOTE: this is required to prevent mobile webkit issues */
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  -moz-transition: opacity 300ms, -moz-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
}

.notices-container {
  overflow-x: hidden;
}

.dismiss {
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  -moz-transition: opacity 300ms, -moz-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  opacity: 0.5;
}

.dismitted {
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  -moz-transition: opacity 300ms, -moz-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  opacity: 0;
}

.list-group-item-home {
  padding: 20px;
}

pre {
  text-align: left !important;
}

input.scrollable-header {
  border-bottom: 3px solid #ccc;
}

.toucharea {width: 100%; height: 100%;}
