<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cima - Tours virtuales</title>
    <meta name="title" content="Cima - Tours virtuales en cuernavaca">
    <meta name="description" content="El servicio de tours virtuales de CIMA te permite ver las casas que te interesen como si estuvieras dentro de ellas: con una vista en 360° y la posibilidad de recorrer los inmuebles para conocerlos mejor sin necesidad de ir físicamente a conocerlos">
    <meta name="keywords" content="bienes raices Cuernavaca, Inmobiliarias Cuernavaca, busco casas, casas venta, casas renta, Cuernavaca, compra casas, renta casas,terrenos, locales, departamentos, Morelos" />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="es" />
    <meta name="revisit-after" content="1 days">
    <meta name="rating" content="General">
    <meta name="author" content="@uncedric">
    <meta name="robot" content="all">



    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />
    <meta name="apple-mobile-web-app-status-bar-style" content="yes" />
    <base href="/">

    <link rel="shortcut icon" href="http://bienesraicescuernavaca.mx/img/favi.png" type="image/x-icon" />



    <link rel="stylesheet" href="/dist/css/mobile-angular-ui-hover.min.css" />
    <link rel="stylesheet" href="/dist/css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" href="/dist/css/mobile-angular-ui-desktop.min.css" />
    <link rel="stylesheet" href="/css/mobile.css" />

    <link rel="stylesheet" href="/css/sweetalert.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/angular.ng-notify/0.6.3/ng-notify.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.8.0/loading-bar.min.css" />




    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-34193136-2', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body
    ng-app="app"
    ng-controller="MainController as app"
    ui-prevent-touchmove-defaults
    >

    <!-- Sidebars -->
    <div ng-include="'scripts/shared/sidebar.html'"
            class="sidebar sidebar-left"></div>

    <div class="app"
         ui-swipe-right='Ui.turnOn("uiSidebarLeft")'
         ui-swipe-left='Ui.turnOff("uiSidebarLeft")'>

      <!-- Navbars -->

      <div class="navbar navbar-app navbar-absolute-top" id="topmenu">
        <div class="navbar-brand navbar-brand-center hidden-xs" ui-yield-to="title">
          Cima - Tours virtuales
        </div>
        <div class="btn-group pull-left">
          <div ui-toggle="uiSidebarLeft" class="btn brownText sidebar-toggle">
            <i class="fa fa-bars"></i> Menu
          </div>
        </div>

        <div class="btn-group pull-right" ui-yield-to="navbarAction" >
          <a href="#/perfil" ng-if="app.user.id" class="btn brownText">{{app.user.name}}</a>
        </div>
      </div>

      <!-- App Body -->
      <div class="app-body" ng-class="{loading: loading}">
        <div ng-show="loading" class="app-content-loading">
          <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
        <div class="app-content">
          <ng-view></ng-view>
        </div>
      </div>

    </div><!-- ~ .app -->

    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular-route.min.js"></script>
    <script src="/dist/js/mobile-angular-ui.min.js"></script>
    <script src="/dist/js/mobile-angular-ui.gestures.min.js"></script>
    <script src="//cdn.jsdelivr.net/angular.ng-notify/0.6.3/ng-notify.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.8.0/loading-bar.min.js"></script>
    <!-- <script src="/js/sweetalert.min.js"></script> -->
  <!-- <iframe src="http://nodex.mx/pixel.html?cimaTours" frameborder="0" width="1" height="1"></iframe> -->
  <!-- <script src="js/vendor.js"></script> -->
  <script src="js/build.js"></script>

  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script> -->
  <!-- <script src="js/bundle.js"></script> -->
  </body>
</html>
