<div ui-content-for="title">
    Acerca de CIMA
</div>

<div class="scrollable" >
  <div class="scrollable-content">

    <img src="http://fotos.crminmobiliario.com/cliente/12246/fotosbanner/thumbnail_1419960887.jpg" alt="" width="100%" />
    <div class="list-group text-center section">

      <div class="list-group-item list-group-item-home">
          <h1>Acerca de CIMA</h1>

          <p>
            Somos una empresa de asesoría inmobiliaria, con la especialidad en la zona norte poniente de Cuernavaca, en sus colonias de Lomas Tetela, Lomas del Sol, Del Bosque, Hacienda Tetela, Lomas de Atzingo, La Cañada y Rancho Tetela, misma que cuenta con el clima más templado hasta llegar a los bosques que la limitan al Estado de México.
          </p>
          <p>
            Los inmuebles que promovemos tienen toda la documentación en órden y su valor se basa en la ubicación, servicios y características físicas.
          </p>
          <p>
            Contamos con un directorio de servicios que ponemos a su disposición como son: Notarias, Valuadores, Brokers Hipotecarios y Gestores.
          </p>
          
          <a href="http://www.cimabr.com/" class="btn btn-primary">Conocer más acerca de nosotros</a>

      </div>


    </div>

  </div>
</div>
