<div ui-content-for="title">
    Contacto
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <img src="http://tours.bienesraicescuernavaca.mx/thumbs/SkPI9JD_1%20(Small).jpg" style="position:fixed" alt="Casa en el bosque" class="hidden-xs" width="100%">
    <!-- <img src="http://bienesraicescuernavaca.mx/imagenes/banners/2016-02-26-23-10-21.png" style="position:fixed" alt="Casa en el bosque" class="hidden-md" width="height:400px"> -->

    <div class="section">

      <p style="height:120px">&nbsp;</p>



        <div class="row">
          <div class="col-md-12">
            <p class="lead punch" align="center" style="">
               Empresa de asesor&iacute;a inmobiliaria, con la especialidad en la zona norte poniente de Cuernavaca
            </p>
          </div>
          <!-- <div class="col-md-6">
            <div class="panel panel-body">

            </div>
          </div> -->
          <div class="col-md-6">
            <div class="panel panel-body">
              <!-- <h3 class="home-heading">Direcci&oacute;n</h3>
              <p>
                Sonora Calle Uno #105-3 Col. Ampliaci&oacute;n Vista Hermosa C.P.62290 
                Cuernavaca, Morelos
              </p>
              <br> -->
              <h3>Tel&eacute;fonos</h3>
              <ul>
                <li>777-3801414</li>
                <li>777-3810306</li>
              </ul>
              <br>
              <h3>Correos</h3>
              <p>
                info@cima.mx
              </p>
              <br>
              <h3 class="home-heading">Redes sociales</h3>
              <p>
                <a href="https://twitter.com/cimabr" class="btn btn-info">
                  <i class="fa fa-twitter"></i> twitter
                </a>
                <a href="https://www.facebook.com/CIMABIENESRAICES" class="btn btn-primary">
                  <i class="fa fa-facebook"></i> facebook
                </a>
              </p>

            </div>
          </div>

          <!-- <div class="col-md-6">
            <div class="panel">
              <div class="panel-heading">
                <h3>C&oacute;mo llegar a nuestras oficinas</h3>
              </div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3773.198166947577!2d-99.25194465277644!3d18.966853684330143!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cde09990c50f23%3A0xd915cb85f12c355e!2sAcre+Bienes+Ra%C3%ADces!5e0!3m2!1ses!2s!4v1409030652312" width="100%" height="345" frameborder="0" style="border:0"></iframe>

            </div>
          </div> -->


        </div>

    </div> <!-- Section -->




  </div>
</div>
