<div class="scrollable" style="background-color:#e7d6b4">
  <h1 class="scrollable-header app-name">
    <img src="images/cima_logo.png" alt="" class="logo">
  </h1>
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="sidebar-item list-group-item" href="/">
        <i class="fa fa-home"></i> Inicio
      </a>

      <a class="sidebar-item list-group-item" href="/acerca-de">
        <i class="fa fa-chevron-right"></i> Acerca de CIMA</a>
      <a class="sidebar-item list-group-item" href="/contacto/">
        <i class="fa fa-comment"></i> Contacto</a>
      <a class="sidebar-item list-group-item" href="/admin/tours" ng-if="app.user.id">
        <i class="fa fa-table"></i> Tours</a>
      <a class="sidebar-item list-group-item" href="/admin/tours/nuevo" ng-if="app.user.id">
        <i class="fa fa-plus"></i> Agregar tour</a>
      <a class="sidebar-item list-group-item" href="/logout" ng-if="app.user.id">
        <i class="fa fa-sign-out"></i> Cerrar sesión </a>
    </div>
  </div>
</div>
