<div class="scrollable">
  <div class="scrollable-content"  ui-scroll-bottom='bottomReached()'>
    <div class="section">

      <div style="padding:20px">
        <input ng-model="filter" placeholder="Search tour..." class="form-control">
      </div>


      <div class="row">

        <div class="col-sm-6 col-lg-4" ng-repeat="tour in ctrl.tours | filter: filter">
          <div class="thumbnail">
            <a href="tour/{{::tour.id}}" class="grow">
              <img src="{{::tour.imagen}}" alt="{{::tour.titulo}}">
            </a>
            <div class="caption">
              <h3>{{::tour.titulo}}</h3>
              <div class="btn-group">
                <a href="tour/{{::tour.id}}" class="btn btn-primary" role="button">
                  <i class="fa fa-eye"></i> Ver tour</a>
                <a href="{{::tour.url}}" class="btn btn-default" role="button">
                  <i class="fa fa-comments"></i> Detalles</a>
                <a href="admin/tour/{{::tour.id}}" ng-if="app.user.id"
                  class="btn btn-default" role="button">
                  <i class="fa fa-edit"></i> Editar</a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
