<div ui-content-for="title">
    Casa: {{::$ctrl.tour.titulo}}
</div>
<div ui-content-for="navbarAction">
    <span>
      <a href="javascript:;" ng-click="$ctrl.toggle=!$ctrl.toggle" class="btn brownText">
        {{$ctrl.toggle?'Leer más':'Mostrar tour'}}
      </a>
    </span>
    <a ng-href="tours/{{::$ctrl.tour.id}}/index.html" target="_blank" class="btn brownText">Pantalla completa</a>
</div>

<div class="scrollable" >
  <div class="scrollable-content">

    <iframe ng-src="{{::$ctrl.tour.src}}" ng-show="$ctrl.toggle" width="100%" height="600px"></iframe>
    <div class="list-group text-center section">

      <div class="list-group-item list-group-item-home">
        <h2>{{$ctrl.tour.titulo}}</h2>
        <h4>Código de la casa: {{::$ctrl.tour.codigo}}</h4>
          <p>
            {{::$ctrl.tour.descripcion}}
          </p>
          <hr>
          <a ng-href="tours/{{::$ctrl.tour.id}}/index.html" class="btn btn-primary" target="_blank">
            <i class="fa fa-arrows fa-2x"></i><br>
            Ver tour en pantalla completa</a>
          <a ng-href="{{::$ctrl.tour.url}}" class="btn btn-default">
            <i class="fa fa-list fa-2x"></i><br>
            Leer más sobre esta propiedad</a>
          <a href="/" class="btn btn-default">
            <i class="fa fa-home fa-2x"></i><br>
            Ver más tours</a>
      </div>


    </div>

  </div>
</div>
