<div ui-content-for="title">
    Crear nuevo tour
</div>

<div class="scrollable" >
  <div class="scrollable-content">

    <div class="list-group text-center section">

      <div class="list-group-item list-group-item-home">
        <div ng-show="ctrl.loading">
          <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>
        <form ng-submit="DetalleCtrl.save()" class="" ng-hide="ctrl.loading">

          <div class="row">
            <div class="col-md-4">Archivo</div>
            <div class="col-md-5">
              <input type="file" name="file" id="file_input" onchange="angular.element(this).scope().upload(this.files)"/>
              <p>
                Ruta de los archivos se encuentra en ... <br>
                Posteriormente debes de comprimir el folder haciendo click derecho...

              </p>
              <!-- <input type="file" name="file" id="file_input"
              webkitdirectory directory multiple onchange="angular.element(this).scope().uploadDir(this.files)"/>   -->

            </div>
          </div>

          <hr>



          <button class="btn btn-primary" type="submit" ng-click="ctrl.save()">
            <i class="fa fa-save"></i> Guardar cambios
          </button>
          <a class="btn btn-default" onclick="window.history.back();">
            Cancelar
          </a>

          <!-- <a class="btn btn-danger pull-right"  ng-click="ctrl.delete()">
            <i class="fa fa-trash-o"></i> Eliminar
          </a> -->




        </form>
      </div>


    </div>

  </div>
</div>
