<div ui-content-for="title">
    Todos los tours
</div>

<div class="scrollable" >
  <div class="scrollable-content">

    <div class="list-group text-center section">

      <div class="list-group-item list-group-item-home">

          <div class="row">
              <div class="col-sm-6">
                  <input type="text" ng-model="searchTV" class="form-control" placeholder="Buscar tour...">
              </div>
              <div class="col-sm-6">
                  <a href="/admin/tours/nuevo" class="btn btn-primary">Agregar tour</a>
              </div>
          </div>

          <br>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Clave</th>
                <th>Fecha</th>
                <th>Operaciones</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="tour in ctrl.tours|filter:searchTV">
                <td align="left">{{::tour.titulo}}</td>
                <td>{{::tour.codigo}}</td>
                <td>{{::tour.createdAt|date:'dd/MM/yyyy'}}</td>
                <td>
                  <a href="/admin/tour/{{::tour.id}}" class="btn btn-default">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a href="javascript:void(0)" 
                    class="btn btn-{{ tour.visible ? 'success' : 'default'}}"
                    ng-click="ctrl.toggleTour(tour.id)">
                    <i class="fa {{ tour.visible ? 'fa-eye' : 'fa-eye-slash'}}"></i>
                  </a>
                  <a href="javascript:;" ng-click="ctrl.delete(tour.id)" class="btn btn-danger">
                    <i class="fa fa-trash-o"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

      </div>


    </div>

  </div>
</div>
