<div ui-content-for="title">
    Configuración de usuario
</div>

<div class="scrollable" >
  <div class="scrollable-content">

    <div class="list-group text-center section">

      <div class="list-group-item list-group-item-home">
        <form ng-submit="DetalleCtrl.save()" class="">
          <div class="row">
            <div class="col-xs-4">Nombre:</div>
            <div class="col-xs-5">
              <input type="text" class="form-control" ng-model="ctrl.tour.titulo">
              <p class="help-block">Título que aparecerá en la parte superior del tour.</p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-4">Descripción:</div>
            <div class="col-xs-5">
              <textarea rows="3" class="form-control" ng-model="ctrl.tour.descripcion"></textarea>
              <p class="help-block">Detalles de la casa.</p>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-xs-4">Código</div>
            <div class="col-xs-5">
              <input type="text" class="form-control" ng-model="ctrl.tour.codigo">            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-xs-4">URL</div>
            <div class="col-xs-5">
              <input type="text" class="form-control" ng-model="ctrl.tour.url">            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-xs-4">Imagen</div>
            <div class="col-xs-5">
              <!-- <input type="text" class="form-control" ng-model="ctrl.tour.imagen"> -->
               <input type="file" name="file" id="file_input" onchange="angular.element(this).scope().upload(this.files)"/>
               <img src="{{ctrl.tour.imagen}}" width="100px" alt="">
             </div>
          </div>
          <br>

          <div class="row">
            <div class="col-xs-4">Código de enlace:</div>
            <div class="col-xs-5">
              <textarea rows="3" class="form-control" ng-model="ctrl.tour.enlace"></textarea>
              <p class="help-block">Pegar este código en la descripción del la propiedad del CRM.</p>
            </div>
          </div>
          <hr>
          <button class="btn btn-primary" type="submit" ng-click="ctrl.save()">
            <i class="fa fa-save"></i> Guardar cambios
          </button>
          <a class="btn btn-default" onclick="window.history.back();">
            Cancelar
          </a>

          <!-- <a class="btn btn-danger pull-right"  ng-click="ctrl.delete()">
            <i class="fa fa-trash-o"></i> Eliminar
          </a> -->




        </form>
      </div>


    </div>

  </div>
</div>
